{% extends 'index.html' %} {% block content %}
<div class="container-fluid">
    <div class="header-container">
        <h1>Basins_Operators</h1>
    </div>
    <p class="about-txt">View Basins_Operators relationship table</p>
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                {% for column_title in table_data[0].keys() %}
                <th scope="col">{{ column_title }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for basin_operator in table_data %}
            <tr>
                {% for attribute in basin_operator.keys() %}
                <td>{{basin_operator[attribute]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
