{% extends 'index.html' %} {% block content %}
<div class="container-fluid">
    <div class="header-container">
        <h1>Companies</h1>
    </div>
    <p class="about-txt">View, add, update, and delete Companies</p>
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                {% for key in companies[0].keys() %}
                <th scope="col">{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                {% for key in company.keys() %}
                <td>{{company[key]}}</td>
                {% endfor %}
                <td>
                    <form
                        id="deletecompany"
                        class="del-form"
                        action="companies"
                        method="POST"
                    >
                        <input
                            type="hidden"
                            name="deletecompany"
                            value="{{ company['company_id'] }}"
                        />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="primary-form-container">
        <div class="form-container">
            <div class="header-container">
                <h2>Add Company Data</h2>
            </div>
            <form id="addcompany" action="companies" method="POST">
                <div class="mb-1">
                    <label for="company_name" class="form-label"
                        >Company Name</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        name="company_name"
                    />
                </div>
                <div class="mb-1">
                    <label for="total_wells" class="form-label"
                        >Total Wells</label
                    >
                    <input
                        type="number"
                        class="form-control"
                        name="total_wells"
                    />
                </div>
                <div class="mb-1">
                    <label for="total_production_bbls" class="form-label"
                        >Total Production Barrels</label
                    >
                    <input
                        type="number"
                        class="form-control"
                        name="total_production_bbls"
                    />
                </div>
                <div class="mb-1">
                    <label for="total_basins" class="form-label"
                        >Total Basins</label
                    >
                    <input
                        type="number"
                        class="form-control"
                        name="total_basins"
                    />
                </div>
                <div class="mb-1">
                    <label for="total_formations" class="form-label"
                        >Total Formations</label
                    >
                    <input
                        type="number"
                        class="form-control"
                        name="total_formations"
                    />
                </div>
                <input type="hidden" name="addcompany" />
                <button type="submit" class="btn btn-primary">
                    Submit Well Data
                </button>
            </form>
        </div>
        <div class="form-container">
            <div class="header-container">
                <h2>Update Company Data</h2>
            </div>
            <form id="updatecompanies" action="/companies" method="POST">
                <div class="mb-1">
                    <label for="company_id" class="form-label"
                        >Company ID</label
                    >
                    <select class="form-select" name="company_id">
                        {% for key in ids.keys() %} {% if key == 'company_ids'
                        %} {% for id in ids[key] %}
                        <option value="{{id}}">{{id}}</option>
                        {% endfor %} {% endif %} {% endfor %}
                    </select>
                </div>
                <div class="mb-1">
                    <label for="company_name" class="form-label"
                        >Company Name</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        name="company_name"
                    />
                </div>
                <div class="mb-1">
                    <label for="total_wells" class="form-label"
                        >Total Wells</label
                    >
                    <input
                        type="number"
                        class="form-control"
                        name="total_wells"
                    />
                </div>
                <div class="mb-1">
                    <label for="total_production_bbls" class="form-label"
                        >Total Production Barrels</label
                    >
                    <input
                        type="number"
                        class="form-control"
                        name="total_production_bbls"
                    />
                </div>
                <div class="mb-1">
                    <label for="total_basins" class="form-label"
                        >Total Basins</label
                    >
                    <input
                        type="number"
                        class="form-control"
                        name="total_basins"
                    />
                </div>
                <div class="mb-1">
                    <label for="total_formations" class="form-label"
                        >Total Formations</label
                    >
                    <input
                        type="number"
                        class="form-control"
                        name="total_formations"
                    />
                </div>
                <input type="hidden" name="updatecompany" />
                <button type="submit" class="btn btn-primary">
                    Update Well Data
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
