{% extends 'index.html' %} {% block content %}
<div class="container-fluid">
    <div class="header-container">
        <h1>Formations</h1>
    </div>
    <p class="about-txt">View, add, update, and delete Formations</p>
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                {% for column_title in table_data[0].keys() %}
                <th scope="col">{{ column_title }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for formation in table_data %}
            <tr>
                {% for attribute in formation.keys() %}
                <td>{{formation[attribute]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <div class="primary-form-container">
        <div class="form-container">
            <div class="header-container">
                <h2>Add Formation</h2>
            </div>
            <form id="addformation" action="formations" method="POST">
                <div class="mb-1">
                    <label for="formation_name" class="form-label"
                        >Formation Name</label
                    >
                    <input
                        type="text"
                        required="required"
                        class="form-control"
                        name="formation_name"
                    />
                </div>
                <div class="mb-1">
                    <label for="basin_id" class="form-label">Basin ID</label>
                    <select class="form-select" name="basin_id">
                        {% for row in basin_data %}
                        <option value="{{row[0]}}">
                            {{ row[0] }} ({{ row[1] }})
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <input type="hidden" name="addformation" />
                <button type="submit" class="btn btn-primary">
                    Submit Formation
                </button>
            </form>
        </div>
        <div class="form-container">
            <div class="header-container">
                <h2>Update Formation</h2>
            </div>
            <form id="updateformation" action="formations" method="POST">
                <div class="mb-1">
                    <label for="formation_id" class="form-label"
                        >Formation ID</label
                    >
                    <select class="form-select" name="formation_id">
                        {% for row in formation_data %}
                        <option value="{{row[0]}}">
                            {{ row[0] }} ({{ row[1] }})
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-1">
                    <label for="formation_name" class="form-label"
                        >Formation Name</label
                    >
                    <input
                        type="text"
                        required="required"
                        class="form-control"
                        name="formation_name"
                    />
                </div>
                <div class="mb-1">
                    <label for="basin_id" class="form-label">Basin ID</label>
                    <select class="form-select" name="basin_id">
                        {% for row in basin_data %}
                        <option value="{{row[0]}}">
                            {{ row[0] }} ({{ row[1] }})
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <input type="hidden" name="updateformation" />
                <button type="submit" class="btn btn-primary">
                    Update Formation
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
